<%- include ('header', {title: 'User detail'}) %>
<div>First name: <%= userData.firstName %></div>
<div>Last name: <%= userData.lastName %></div>
<div>Email: <%= userData.email %></div>
<div>Address: <%= userData.address %></div>
<%- include ('footer') %>
